@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Poppins;
}

@layer utilities {
    .pause-animation {
      animation-play-state: paused;
    }
}

html {
  scroll-behavior: smooth;
}


/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


